@page
@model IndexModel
@{
    ViewData["Title"] = "Scripture Journal";
}

<div class="text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4 class="display-6"> Study Journal </h4>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <p> Use an online <a href="https://churchofjesuschrist.org/study/scriptures">Scripture App</a></p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
