@page
@model My_Scripture_Journal.Pages.Scriptures.CreateModel

@{
    ViewData["Title"] = "Create Entries";
}

<br />
<br />
<br/>
<h4> Add Study Entry </h4>
<hr/>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Scripture.Date_Studied" class="control-label"></label>
                <input asp-for="Scripture.Date_Studied" class="form-control" />
                <span asp-validation-for="Scripture.Date_Studied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.Add_Scripture" class="control-label"></label>
                <input asp-for="Scripture.Add_Scripture" class="form-control" />
                <span asp-validation-for="Scripture.Add_Scripture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.Inspired_Notes" class="control-label"></label>
                <input asp-for="Scripture.Inspired_Notes" class="form-control" />
                <span asp-validation-for="Scripture.Inspired_Notes" class="text-danger"></span>
            </div>
            <br/>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
<br/>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
